{
    "swagger": "2.0",
    "info": {
        "title": "Petagree API",
        "description": "Api",
        "termsOfService": "",
        "contact": {
            "email": "contact@mysite.com"
        },
        "license": {
            "name": "Private License",
            "url": "URL to the license"
        },
        "version": "1.0.0"
    },
    "host": "api.petagree/api",
    "schemes": [
        "http",
        "https"
    ],
    "paths": {
        "/association": {
            "put": {
                "tags": [
                    "Association"
                ],
                "description": "Edit all association information",
                "operationId": "putAssociation",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Name of the association.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "suburb_id",
                        "in": "query",
                        "description": "Location of the association.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "state_id",
                        "in": "query",
                        "description": "Location of the association.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "breed",
                        "in": "query",
                        "description": "Dog breed of the association.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "about",
                        "in": "query",
                        "description": "General information of the association.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/editAssociation"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity."
                    },
                    "401": {
                        "description": "Failed to authenticate because of bad credentials or an invalid authorization header.<br>-----------------------------------------------------------------------<br>Wrong number of segments.<br>-----------------------------------------------------------------------<br>Token Signature could not be verified.<br>-----------------------------------------------------------------------<br>Could not decode token. The token is an invalid JWS.<br>-----------------------------------------------------------------------<br>Token has expired.<br>-----------------------------------------------------------------------<br>The token has been blacklisted<br>-----------------------------------------------------------------------Unable to authenticate with invalid token.<br>------------------------------------<br>Only association profiles can access this resource."
                    }
                }
            },
            "post": {
                "tags": [
                    "Association"
                ],
                "description": "Request creation of new association",
                "operationId": "postAssociation",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Name of the association.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "first_name",
                        "in": "query",
                        "description": "First name of the key representative (profile owner).",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "last_name",
                        "in": "query",
                        "description": "Last name of the key representative (profile owner).",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Email of the association",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "contact_number",
                        "in": "query",
                        "description": "Telephone number for contact.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "suburb_id",
                        "in": "query",
                        "description": "Location of the association.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "state_id",
                        "in": "query",
                        "description": "Location of the association.",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "201": {
                        "description": ""
                    },
                    "422": {
                        "description": "Unprocessable entity."
                    }
                }
            },
            "patch": {
                "tags": [
                    "Association"
                ],
                "description": "Edit some of the association information",
                "operationId": "patchAssociation",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Name of the association.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "suburb_id",
                        "in": "query",
                        "description": "Location of the association.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "state_id",
                        "in": "query",
                        "description": "Location of the association.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "breed",
                        "in": "query",
                        "description": "Dog breed of the association.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "about",
                        "in": "query",
                        "description": "General information of the association.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/editAssociation"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity."
                    },
                    "401": {
                        "description": "Failed to authenticate because of bad credentials or an invalid authorization header.<br>-----------------------------------------------------------------------<br>Wrong number of segments.<br>-----------------------------------------------------------------------<br>Token Signature could not be verified.<br>-----------------------------------------------------------------------<br>Could not decode token. The token is an invalid JWS.<br>-----------------------------------------------------------------------<br>Token has expired.<br>-----------------------------------------------------------------------<br>The token has been blacklisted<br>-----------------------------------------------------------------------Unable to authenticate with invalid token.<br>------------------------------------<br>Only association profiles can access this resource."
                    }
                }
            }
        },
        "/association/slug/{slug}": {
            "get": {
                "tags": [
                    "Association"
                ],
                "description": "Get association members.",
                "operationId": "getAssociationMembers",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "slug",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/slugAssociation"
                        }
                    },
                    "404": {
                        "description": "Slug not found."
                    }
                }
            }
        },
        "/association/enquiry": {
            "post": {
                "tags": [
                    "Association"
                ],
                "description": "Creates new enquiry for seller",
                "operationId": "postSellerEnquiry",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Name of the user.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Email of the user.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "enquiry",
                        "in": "query",
                        "description": "Enquiry of the user.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "422": {
                        "description": "Unprocessable entity"
                    },
                    "403": {
                        "description": "You have exceeded your rate limit."
                    }
                }
            }
        },
        "/association/members": {
            "post": {
                "tags": [
                    "Association"
                ],
                "description": "Add association members.",
                "operationId": "postAssociationMembers",
                "parameters": [
                    {
                        "name": "suburb_id",
                        "in": "query",
                        "description": "State where member lives.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "state_id",
                        "in": "query",
                        "description": "Location of the association.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "member_email",
                        "in": "query",
                        "description": "Mail of the breeder (new member).",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "422": {
                        "description": "Unprocessable Entity."
                    },
                    "403": {
                        "description": "Invite is allready sent to this user!"
                    },
                    "401": {
                        "description": "Failed to authenticate because of bad credentials or an invalid authorization header.<br>-----------------------------------------------------------------------<br>Wrong number of segments.<br>-----------------------------------------------------------------------<br>Token Signature could not be verified.<br>-----------------------------------------------------------------------<br>Could not decode token. The token is an invalid JWS.<br>-----------------------------------------------------------------------<br>Token has expired.<br>-----------------------------------------------------------------------<br>The token has been blacklisted<br>-----------------------------------------------------------------------Unable to authenticate with invalid token.<br>------------------------------------<br>Only association profiles can access this resource."
                    }
                }
            },
            "delete": {
                "tags": [
                    "Association"
                ],
                "description": "Delete association members.",
                "operationId": "deleteAssociationMembers",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Delete member with given ID.",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "404": {
                        "description": "User not found"
                    },
                    "422": {
                        "description": "Unprocessable Entity."
                    },
                    "401": {
                        "description": "Failed to authenticate because of bad credentials or an invalid authorization header.<br>-----------------------------------------------------------------------<br>Wrong number of segments.<br>-----------------------------------------------------------------------<br>Token Signature could not be verified.<br>-----------------------------------------------------------------------<br>Could not decode token. The token is an invalid JWS.<br>-----------------------------------------------------------------------<br>Token has expired.<br>-----------------------------------------------------------------------<br>The token has been blacklisted<br>-----------------------------------------------------------------------Unable to authenticate with invalid token.<br>------------------------------------<br>Only association profiles can access this resource."
                    }
                }
            }
        },
        "/association/with": {
            "get": {
                "tags": [
                    "Association"
                ],
                "description": "Get association relations that are manually specified.",
                "operationId": "getAssociationWith",
                "parameters": [
                    {
                        "name": "relations",
                        "in": "query",
                        "description": "Names of relations that user wants to get information from. Relations avaliable : users,breed,suburb,state,key_members,members",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/associationWith"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity."
                    },
                    "401": {
                        "description": "Failed to authenticate because of bad credentials or an invalid authorization header.<br>-----------------------------------------------------------------------<br>Wrong number of segments.<br>-----------------------------------------------------------------------<br>Token Signature could not be verified.<br>-----------------------------------------------------------------------<br>Could not decode token. The token is an invalid JWS.<br>-----------------------------------------------------------------------<br>Token has expired.<br>-----------------------------------------------------------------------<br>The token has been blacklisted<br>-----------------------------------------------------------------------Unable to authenticate with invalid token.<br>------------------------------------<br>Only association profiles can access this resource."
                    }
                }
            }
        },
        "/association/images": {
            "post": {
                "tags": [
                    "Association"
                ],
                "description": "Post association images.",
                "operationId": "postAssociationImages",
                "parameters": [
                    {
                        "name": "avatar",
                        "in": "query",
                        "description": "Avatar of the association.",
                        "required": true,
                        "type": "file"
                    },
                    {
                        "name": "images",
                        "in": "query",
                        "description": "Images of the association.",
                        "required": true,
                        "type": "array",
                        "items": "file"
                    },
                    {
                        "name": "banner_image",
                        "in": "query",
                        "description": "Banner image of the association.",
                        "required": true,
                        "type": "file"
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Size of images is too big"
                    },
                    "422": {
                        "description": "Unprocessable Entity."
                    },
                    "401": {
                        "description": "Failed to authenticate because of bad credentials or an invalid authorization header.<br>-----------------------------------------------------------------------<br>Wrong number of segments.<br>-----------------------------------------------------------------------<br>Token Signature could not be verified.<br>-----------------------------------------------------------------------<br>Could not decode token. The token is an invalid JWS.<br>-----------------------------------------------------------------------<br>Token has expired.<br>-----------------------------------------------------------------------<br>The token has been blacklisted<br>-----------------------------------------------------------------------Unable to authenticate with invalid token.<br>------------------------------------<br>Only association profiles can access this resource."
                    }
                }
            }
        },
        "/association/keymembers": {
            "post": {
                "tags": [
                    "Association"
                ],
                "description": "Post association keymembers.",
                "operationId": "postAssociationKeymembers",
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Type of key member.",
                        "required": true,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Name of key member.",
                        "required": true,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Email of keymember.",
                        "required": true,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Not all data is provided."
                    },
                    "422": {
                        "description": "Unprocessable Entity."
                    },
                    "401": {
                        "description": "Failed to authenticate because of bad credentials or an invalid authorization header.<br>-----------------------------------------------------------------------<br>Wrong number of segments.<br>-----------------------------------------------------------------------<br>Token Signature could not be verified.<br>-----------------------------------------------------------------------<br>Could not decode token. The token is an invalid JWS.<br>-----------------------------------------------------------------------<br>Token has expired.<br>-----------------------------------------------------------------------<br>The token has been blacklisted<br>-----------------------------------------------------------------------Unable to authenticate with invalid token.<br>------------------------------------<br>Only association profiles can access this resource."
                    }
                }
            },
            "delete": {
                "tags": [
                    "Association"
                ],
                "description": "Delete association keymembers.",
                "operationId": "deleteAssociationKeymembers",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Id of key member.",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "422": {
                        "description": "Unprocessable Entity."
                    },
                    "400": {
                        "description": "Keymember belongs to other association"
                    },
                    "401": {
                        "description": "Failed to authenticate because of bad credentials or an invalid authorization header.<br>-----------------------------------------------------------------------<br>Wrong number of segments.<br>-----------------------------------------------------------------------<br>Token Signature could not be verified.<br>-----------------------------------------------------------------------<br>Could not decode token. The token is an invalid JWS.<br>-----------------------------------------------------------------------<br>Token has expired.<br>-----------------------------------------------------------------------<br>The token has been blacklisted<br>-----------------------------------------------------------------------Unable to authenticate with invalid token.<br>------------------------------------<br>Only association profiles can access this resource."
                    }
                }
            }
        },
        "/auth/user": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "description": "Get user information from token.",
                "operationId": "getAuthUser",
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/userId"
                        }
                    },
                    "401": {
                        "description": "Failed to authenticate because of bad credentials or an invalid authorization header.<br>-----------------------------------------------------------------------<br>Wrong number of segments.<br>-----------------------------------------------------------------------<br>Token Signature could not be verified.<br>-----------------------------------------------------------------------<br>Could not decode token. The token is an invalid JWS.<br>-----------------------------------------------------------------------<br>Token has expired.<br>-----------------------------------------------------------------------<br>The token has been blacklisted<br>-----------------------------------------------------------------------Unable to authenticate with invalid token.<br>"
                    }
                }
            },
            "post": {
                "tags": [
                    "Auth"
                ],
                "description": "Register user.",
                "operationId": "postAuthUser",
                "parameters": [
                    {
                        "name": "first_name",
                        "in": "query",
                        "description": "First name of the user.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "last_name",
                        "in": "query",
                        "description": "Last name of the user.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Email of the user.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "description": "Password",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "contact_number",
                        "in": "query",
                        "description": "Phone number of the user.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "role",
                        "in": "query",
                        "description": "Role of the user.",
                        "required": true,
                        "type": "integer",
                        "enum": "13"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/token"
                        }
                    },
                    "500": {
                        "description": "Internal error."
                    },
                    "422": {
                        "description": "Unprocessable Entity."
                    }
                }
            },
            "delete": {
                "tags": [
                    "Auth"
                ],
                "description": "Deletes user based on token.",
                "operationId": "deleteAuthUser",
                "responses": {
                    "401": {
                        "description": "Failed to authenticate because of bad credentials or an invalid authorization header.<br>-----------------------------------------------------------------------<br>Wrong number of segments.<br>-----------------------------------------------------------------------<br>Token Signature could not be verified.<br>-----------------------------------------------------------------------<br>Could not decode token. The token is an invalid JWS.<br>-----------------------------------------------------------------------<br>Token has expired.<br>-----------------------------------------------------------------------<br>The token has been blacklisted<br>-----------------------------------------------------------------------Unable to authenticate with invalid token.<br>"
                    }
                }
            },
            "patch": {
                "tags": [
                    "Auth"
                ],
                "description": "Updates user based on token.",
                "operationId": "getUpdate",
                "parameters": [
                    {
                        "name": "first_name",
                        "in": "query",
                        "description": "First name of the user.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "last_name",
                        "in": "query",
                        "description": "Last name of the user.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Email of the user.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "contact_number",
                        "in": "query",
                        "description": "Phone number of the user.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/userId"
                        }
                    },
                    "401": {
                        "description": "Failed to authenticate because of bad credentials or an invalid authorization header.<br>-----------------------------------------------------------------------<br>Wrong number of segments.<br>-----------------------------------------------------------------------<br>Token Signature could not be verified.<br>-----------------------------------------------------------------------<br>Could not decode token. The token is an invalid JWS.<br>-----------------------------------------------------------------------<br>Token has expired.<br>-----------------------------------------------------------------------<br>The token has been blacklisted<br>-----------------------------------------------------------------------Unable to authenticate with invalid token.<br>"
                    }
                }
            }
        },
        "/auth/user/password": {
            "patch": {
                "tags": [
                    "Auth"
                ],
                "description": "Method for changing password",
                "operationId": "patchAuthUserPassword",
                "parameters": [
                    {
                        "name": "password",
                        "in": "query",
                        "description": "New password",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password_confirmation",
                        "in": "query",
                        "description": "Confirm new password.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/userId"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity."
                    },
                    "401": {
                        "description": "Failed to authenticate because of bad credentials or an invalid authorization header.<br>-----------------------------------------------------------------------<br>Wrong number of segments.<br>-----------------------------------------------------------------------<br>Token Signature could not be verified.<br>-----------------------------------------------------------------------<br>Could not decode token. The token is an invalid JWS.<br>-----------------------------------------------------------------------<br>Token has expired.<br>-----------------------------------------------------------------------<br>The token has been blacklisted<br>-----------------------------------------------------------------------Unable to authenticate with invalid token.<br>"
                    }
                }
            }
        },
        "/auth/token": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "description": "Log in and get the token.",
                "operationId": "getAuthToken",
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Email of user that needs to be authenticated.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "description": "Password of user that needs to be authenticated.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/token"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity."
                    },
                    "401": {
                        "description": "Incorrect email / password combination.<br>--------------------------------------<br>Inactive user.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResult"
                        }
                    }
                }
            }
        },
        "/auth/token/refresh": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "description": "Get refreshed token from expired token",
                "operationId": "getAuthTokenRefresh",
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/newToken"
                        }
                    },
                    "498": {
                        "description": "Token has expired",
                        "schema": {
                            "$ref": "#/definitions/ErrorResult"
                        }
                    },
                    "401": {
                        "description": "Token invalid",
                        "schema": {
                            "$ref": "#/definitions/ErrorResult"
                        }
                    }
                }
            }
        },
        "/auth/token/destroy": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "description": "Logs out user based on token.",
                "operationId": "getAuthTokenDestroy",
                "responses": {
                    "401": {
                        "description": "Failed to authenticate because of bad credentials or an invalid authorization header.<br>-----------------------------------------------------------------------<br>Wrong number of segments.<br>-----------------------------------------------------------------------<br>Token Signature could not be verified.<br>-----------------------------------------------------------------------<br>Could not decode token. The token is an invalid JWS.<br>-----------------------------------------------------------------------<br>Token has expired.<br>-----------------------------------------------------------------------<br>The token has been blacklisted<br>-----------------------------------------------------------------------Unable to authenticate with invalid token.<br>"
                    }
                }
            }
        },
        "/auth/token/blacklist": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "description": "Logs out user based and blacklists their token.",
                "operationId": "getAuthTokenBlacklist",
                "responses": {
                    "401": {
                        "description": "Failed to authenticate because of bad credentials or an invalid authorization header.<br>-----------------------------------------------------------------------<br>Wrong number of segments.<br>-----------------------------------------------------------------------<br>Token Signature could not be verified.<br>-----------------------------------------------------------------------<br>Could not decode token. The token is an invalid JWS.<br>-----------------------------------------------------------------------<br>Token has expired.<br>-----------------------------------------------------------------------<br>The token has been blacklisted<br>-----------------------------------------------------------------------Unable to authenticate with invalid token.<br>"
                    }
                }
            }
        },
        "/auth/user/reset/password": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "description": "Gets password reset token on mail.",
                "operationId": "postResetToken",
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Email of user to send reset password token to.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "We have e-mailed your password reset link!"
                    },
                    "422": {
                        "description": "Unprocessable Entity."
                    },
                    "401": {
                        "description": "We can't find a user with that e-mail address."
                    }
                }
            },
            "patch": {
                "tags": [
                    "Auth"
                ],
                "description": "Resets password.",
                "operationId": "patchAuthUserResetPassword",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Token for reseting password.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "description": "New password.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password_confirmation",
                        "in": "query",
                        "description": "New password.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Your password has been reset!"
                    },
                    "422": {
                        "description": "Unprocessable Entity."
                    },
                    "400": {
                        "description": "This password reset token is invalid."
                    }
                }
            }
        },
        "/auth/token/validate": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "description": "Validates reset password token.",
                "operationId": "postAuthTokenValidate",
                "parameters": [
                    {
                        "name": "reset_token",
                        "in": "query",
                        "description": "Token for reseting password.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "202": {
                        "description": ""
                    },
                    "422": {
                        "description": "Unprocessable Entity."
                    },
                    "403": {
                        "description": "Token does not exists."
                    },
                    "400": {
                        "description": "Your password reset token has expired."
                    }
                }
            }
        },
        "/dog": {
            "put": {
                "tags": [
                    "Dog"
                ],
                "description": "Update whole dog information",
                "operationId": "putDog",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Id of dog that needs update.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "breed_id",
                        "in": "query",
                        "description": "Id of dog breed.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "birth_date",
                        "in": "query",
                        "description": "Date when dog was born.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "type_of_listing",
                        "in": "query",
                        "description": "Type of listing (single,mature, litter).",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "single",
                            "mature",
                            "litter"
                        ]
                    },
                    {
                        "name": "sex",
                        "in": "query",
                        "description": "M or f",
                        "required": false,
                        "type": "string",
                        "enum": "mf"
                    },
                    {
                        "name": "male_qty",
                        "in": "query",
                        "description": "Number of male dogs in litter",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "female_qty",
                        "in": "query",
                        "description": "Number of female dogs in litter",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "cost",
                        "in": "query",
                        "description": "Price of dog.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "about",
                        "in": "query",
                        "description": "Information about dog.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "mother_id",
                        "in": "query",
                        "description": "Id of dog mother.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "father_id",
                        "in": "query",
                        "description": "Id of dog father.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "vaccination",
                        "in": "query",
                        "description": "Is dog vaccinated.",
                        "required": true,
                        "type": "integer",
                        "enum": "10"
                    },
                    {
                        "name": "vet_checked",
                        "in": "query",
                        "description": "Is dog vet checked.",
                        "required": true,
                        "type": "integer",
                        "enum": "10"
                    },
                    {
                        "name": "desexed",
                        "in": "query",
                        "description": "Is dog desexed.",
                        "required": true,
                        "type": "integer",
                        "enum": "10"
                    },
                    {
                        "name": "de_warmed",
                        "in": "query",
                        "description": "Is dog de-warmed.",
                        "required": true,
                        "type": "integer",
                        "enum": "10"
                    },
                    {
                        "name": "micro_chipped",
                        "in": "query",
                        "description": "Is dog micro chipped.",
                        "required": true,
                        "type": "integer",
                        "enum": "10"
                    },
                    {
                        "name": "registration_papers",
                        "in": "query",
                        "description": "Does dog have registration papers.",
                        "required": true,
                        "type": "integer",
                        "enum": "10"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/editDog"
                        }
                    },
                    "400": {
                        "description": "Father dog does not belong to this seller.<br>------------------------------------------------<br>Mother dog does not belong to this seller.<br>-------------------------------------------<br>Wrong type of listing."
                    },
                    "401": {
                        "description": "Failed to authenticate because of bad credentials or an invalid authorization header.<br>-----------------------------------------------------------------------<br>Wrong number of segments.<br>-----------------------------------------------------------------------<br>Token Signature could not be verified.<br>-----------------------------------------------------------------------<br>Could not decode token. The token is an invalid JWS.<br>-----------------------------------------------------------------------<br>Token has expired<br>-----------------------------------------------------------------------<br>Only seller profiles can access this resource."
                    },
                    "422": {
                        "description": "Unprocessable entity."
                    }
                }
            },
            "post": {
                "tags": [
                    "Dog"
                ],
                "description": "Add new dog to listing",
                "operationId": "postDog",
                "parameters": [
                    {
                        "name": "breed_id",
                        "in": "query",
                        "description": "Id of dog breed.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "birth_date",
                        "in": "query",
                        "description": "Date when dog was born.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "type_of_listing",
                        "in": "query",
                        "description": "Type of listing (single,mature, litter).",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "single",
                            "mature",
                            "litter"
                        ]
                    },
                    {
                        "name": "sex",
                        "in": "query",
                        "description": "M or f",
                        "required": false,
                        "type": "string",
                        "enum": "mf"
                    },
                    {
                        "name": "male_qty",
                        "in": "query",
                        "description": "Number of male dogs in litter",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "female_qty",
                        "in": "query",
                        "description": "Number of female dogs in litter",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "cost",
                        "in": "query",
                        "description": "Price of dog.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "about",
                        "in": "query",
                        "description": "Information about dog.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "mother_id",
                        "in": "query",
                        "description": "Id of dog mother.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "father_id",
                        "in": "query",
                        "description": "Id of dog father.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "vaccination",
                        "in": "query",
                        "description": "Is dog vaccinated.",
                        "required": true,
                        "type": "integer",
                        "enum": "10"
                    },
                    {
                        "name": "vet_checked",
                        "in": "query",
                        "description": "Is dog vet checked.",
                        "required": true,
                        "type": "integer",
                        "enum": "10"
                    },
                    {
                        "name": "desexed",
                        "in": "query",
                        "description": "Is dog desexed.",
                        "required": true,
                        "type": "integer",
                        "enum": "10"
                    },
                    {
                        "name": "de_warmed",
                        "in": "query",
                        "description": "Is dog de-warmed.",
                        "required": true,
                        "type": "integer",
                        "enum": "10"
                    },
                    {
                        "name": "micro_chipped",
                        "in": "query",
                        "description": "Is dog micro chipped.",
                        "required": true,
                        "type": "integer",
                        "enum": "10"
                    },
                    {
                        "name": "registration_papers",
                        "in": "query",
                        "description": "Does dog have registration papers.",
                        "required": true,
                        "type": "integer",
                        "enum": "10"
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Father dog does not belong to this seller.<br>------------------------------------------------<br>Mother dog does not belong to this seller."
                    },
                    "401": {
                        "description": "Failed to authenticate because of bad credentials or an invalid authorization header.<br>-----------------------------------------------------------------------<br>Wrong number of segments.<br>-----------------------------------------------------------------------<br>Token Signature could not be verified.<br>-----------------------------------------------------------------------<br>Could not decode token. The token is an invalid JWS.<br>-----------------------------------------------------------------------<br>Token has expired<br>-----------------------------------------------------------------------<br>Only seller profiles can access this resource."
                    },
                    "422": {
                        "description": "Unprocessable entity."
                    }
                }
            },
            "delete": {
                "tags": [
                    "Dog"
                ],
                "description": "Delete dog.",
                "operationId": "deleteDog",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Id of dog that needs to be deleted.",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Dog belongs to other seller."
                    },
                    "401": {
                        "description": "Failed to authenticate because of bad credentials or an invalid authorization header.<br>-----------------------------------------------------------------------<br>Wrong number of segments.<br>-----------------------------------------------------------------------<br>Token Signature could not be verified.<br>-----------------------------------------------------------------------<br>Could not decode token. The token is an invalid JWS.<br>-----------------------------------------------------------------------<br>Token has expired<br>-----------------------------------------------------------------------<br>Only seller profiles can access this resource."
                    },
                    "422": {
                        "description": "Unprocessable entity."
                    }
                }
            },
            "patch": {
                "tags": [
                    "Dog"
                ],
                "description": "Update partial dog information",
                "operationId": "patchDog",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Id of dog that needs update.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "breed_id",
                        "in": "query",
                        "description": "Id of dog breed.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "birth_date",
                        "in": "query",
                        "description": "Date when dog was born.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "type_of_listing",
                        "in": "query",
                        "description": "Type of listing (single,mature, litter).",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "single",
                            "mature",
                            "litter"
                        ]
                    },
                    {
                        "name": "sex",
                        "in": "query",
                        "description": "M or f",
                        "required": false,
                        "type": "string",
                        "enum": "mf"
                    },
                    {
                        "name": "male_qty",
                        "in": "query",
                        "description": "Number of male dogs in litter",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "female_qty",
                        "in": "query",
                        "description": "Number of female dogs in litter",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "cost",
                        "in": "query",
                        "description": "Price of dog.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "about",
                        "in": "query",
                        "description": "Information about dog.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "mother_id",
                        "in": "query",
                        "description": "Id of dog mother.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "father_id",
                        "in": "query",
                        "description": "Id of dog father.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "vaccination",
                        "in": "query",
                        "description": "Is dog vaccinated.",
                        "required": false,
                        "type": "integer",
                        "enum": "10"
                    },
                    {
                        "name": "vet_checked",
                        "in": "query",
                        "description": "Is dog vet checked.",
                        "required": false,
                        "type": "integer",
                        "enum": "10"
                    },
                    {
                        "name": "desexed",
                        "in": "query",
                        "description": "Is dog desexed.",
                        "required": false,
                        "type": "integer",
                        "enum": "10"
                    },
                    {
                        "name": "de_warmed",
                        "in": "query",
                        "description": "Is dog de-warmed.",
                        "required": false,
                        "type": "integer",
                        "enum": "10"
                    },
                    {
                        "name": "micro_chipped",
                        "in": "query",
                        "description": "Is dog micro chipped.",
                        "required": false,
                        "type": "integer",
                        "enum": "10"
                    },
                    {
                        "name": "registration_papers",
                        "in": "query",
                        "description": "Does dog have registration papers.",
                        "required": false,
                        "type": "integer",
                        "enum": "10"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/editDog"
                        }
                    },
                    "400": {
                        "description": "Father dog does not belong to this seller.<br>------------------------------------------------<br>Mother dog does not belong to this seller.<br>-------------------------------------------<br>Wrong type of listing."
                    },
                    "401": {
                        "description": "Failed to authenticate because of bad credentials or an invalid authorization header.<br>-----------------------------------------------------------------------<br>Wrong number of segments.<br>-----------------------------------------------------------------------<br>Token Signature could not be verified.<br>-----------------------------------------------------------------------<br>Could not decode token. The token is an invalid JWS.<br>-----------------------------------------------------------------------<br>Token has expired<br>-----------------------------------------------------------------------<br>Only seller profiles can access this resource."
                    },
                    "422": {
                        "description": "Unprocessable entity."
                    }
                }
            }
        },
        "/dog/mother": {
            "get": {
                "tags": [
                    "Dog"
                ],
                "description": "Get all dogs mother for user",
                "operationId": "getDogMother",
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/dogParentData"
                        }
                    },
                    "401": {
                        "description": "Failed to authenticate because of bad credentials or an invalid authorization header.<br>-----------------------------------------------------------------------<br>Wrong number of segments.<br>-----------------------------------------------------------------------<br>Token Signature could not be verified.<br>-----------------------------------------------------------------------<br>Could not decode token. The token is an invalid JWS.<br>-----------------------------------------------------------------------<br>Token has expired<br>-----------------------------------------------------------------------<br>Only seller profiles can access this resource."
                    }
                }
            },
            "post": {
                "tags": [
                    "Dog"
                ],
                "description": "Add dog mother",
                "operationId": "postDogMother",
                "parameters": [
                    {
                        "name": "breed_id",
                        "in": "query",
                        "description": "Id of dog breed.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Name of dog.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "birth_date",
                        "in": "query",
                        "description": "Date when dog was born.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "temperament",
                        "in": "query",
                        "description": "Temperament scale.",
                        "required": true,
                        "type": "integer",
                        "enum": "123"
                    },
                    {
                        "name": "energy",
                        "in": "query",
                        "description": "Energy scale.",
                        "required": true,
                        "type": "integer",
                        "enum": "123"
                    },
                    {
                        "name": "intelligence",
                        "in": "query",
                        "description": "Intelligence scale.",
                        "required": true,
                        "type": "integer",
                        "enum": "123"
                    },
                    {
                        "name": "maintenance",
                        "in": "query",
                        "description": "Maintenance scale.",
                        "required": true,
                        "type": "integer",
                        "enum": "123"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/dogMotherId"
                        }
                    },
                    "401": {
                        "description": "Failed to authenticate because of bad credentials or an invalid authorization header.<br>-----------------------------------------------------------------------<br>Wrong number of segments.<br>-----------------------------------------------------------------------<br>Token Signature could not be verified.<br>-----------------------------------------------------------------------<br>Could not decode token. The token is an invalid JWS.<br>-----------------------------------------------------------------------<br>Token has expired<br>-----------------------------------------------------------------------<br>Only seller profiles can access this resource."
                    },
                    "422": {
                        "description": "Unprocessable entity."
                    }
                }
            },
            "delete": {
                "tags": [
                    "Dog"
                ],
                "description": "Delete dog mother",
                "operationId": "deleteDogMother",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Id of dog mother to delete.",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Dog mother does not belong to this seller."
                    },
                    "401": {
                        "description": "Failed to authenticate because of bad credentials or an invalid authorization header.<br>-----------------------------------------------------------------------<br>Wrong number of segments.<br>-----------------------------------------------------------------------<br>Token Signature could not be verified.<br>-----------------------------------------------------------------------<br>Could not decode token. The token is an invalid JWS.<br>-----------------------------------------------------------------------<br>Token has expired<br>-----------------------------------------------------------------------<br>Only seller profiles can access this resource."
                    },
                    "422": {
                        "description": "Unprocessable entity."
                    }
                }
            }
        },
        "/dog/mother/image": {
            "post": {
                "tags": [
                    "Dog"
                ],
                "description": "Add dog mother image",
                "operationId": "postDogMotherImage",
                "parameters": [
                    {
                        "name": "image",
                        "in": "query",
                        "description": "Image of dog mother",
                        "required": true,
                        "type": "file"
                    },
                    {
                        "name": "mother_id",
                        "in": "query",
                        "description": "Id of dog mother",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Mother dog belongs to other seller."
                    },
                    "401": {
                        "description": "Failed to authenticate because of bad credentials or an invalid authorization header.<br>-----------------------------------------------------------------------<br>Wrong number of segments.<br>-----------------------------------------------------------------------<br>Token Signature could not be verified.<br>-----------------------------------------------------------------------<br>Could not decode token. The token is an invalid JWS.<br>-----------------------------------------------------------------------<br>Token has expired<br>-----------------------------------------------------------------------<br>Only seller profiles can access this resource."
                    },
                    "422": {
                        "description": "Unprocessable entity."
                    }
                }
            }
        },
        "/dog/father": {
            "get": {
                "tags": [
                    "Dog"
                ],
                "description": "Get all dogs father for user",
                "operationId": "getDogFather",
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/dogParentData"
                        }
                    },
                    "401": {
                        "description": "Failed to authenticate because of bad credentials or an invalid authorization header.<br>-----------------------------------------------------------------------<br>Wrong number of segments.<br>-----------------------------------------------------------------------<br>Token Signature could not be verified.<br>-----------------------------------------------------------------------<br>Could not decode token. The token is an invalid JWS.<br>-----------------------------------------------------------------------<br>Token has expired<br>-----------------------------------------------------------------------<br>Only seller profiles can access this resource."
                    }
                }
            },
            "post": {
                "tags": [
                    "Dog"
                ],
                "description": "Add dog father",
                "operationId": "postDogFather",
                "parameters": [
                    {
                        "name": "breed_id",
                        "in": "query",
                        "description": "Id of dog breed.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Name of dog.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "birth_date",
                        "in": "query",
                        "description": "Date when dog was born.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "temperament",
                        "in": "query",
                        "description": "Temperament scale.",
                        "required": true,
                        "type": "integer",
                        "enum": "123"
                    },
                    {
                        "name": "energy",
                        "in": "query",
                        "description": "Energy scale.",
                        "required": true,
                        "type": "integer",
                        "enum": "123"
                    },
                    {
                        "name": "intelligence",
                        "in": "query",
                        "description": "Intelligence scale.",
                        "required": true,
                        "type": "integer",
                        "enum": "123"
                    },
                    {
                        "name": "maintenance",
                        "in": "query",
                        "description": "Maintenance scale.",
                        "required": true,
                        "type": "integer",
                        "enum": "123"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/dogFatherId"
                        }
                    },
                    "422": {
                        "description": "Unprocessable entity."
                    },
                    "401": {
                        "description": "Failed to authenticate because of bad credentials or an invalid authorization header.<br>-----------------------------------------------------------------------<br>Wrong number of segments.<br>-----------------------------------------------------------------------<br>Token Signature could not be verified.<br>-----------------------------------------------------------------------<br>Could not decode token. The token is an invalid JWS.<br>-----------------------------------------------------------------------<br>Token has expired<br>-----------------------------------------------------------------------<br>Only seller profiles can access this resource."
                    }
                }
            },
            "delete": {
                "tags": [
                    "Dog"
                ],
                "description": "Delete dog father",
                "operationId": "deleteDogFather",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Id of dog father to delete.",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Dog father does not belong to this seller."
                    },
                    "422": {
                        "description": "Unprocessable entity."
                    },
                    "401": {
                        "description": "Failed to authenticate because of bad credentials or an invalid authorization header.<br>-----------------------------------------------------------------------<br>Wrong number of segments.<br>-----------------------------------------------------------------------<br>Token Signature could not be verified.<br>-----------------------------------------------------------------------<br>Could not decode token. The token is an invalid JWS.<br>-----------------------------------------------------------------------<br>Token has expired<br>-----------------------------------------------------------------------<br>Only seller profiles can access this resource."
                    }
                }
            }
        },
        "/dog/father/image": {
            "post": {
                "tags": [
                    "Dog"
                ],
                "description": "Add dog father image",
                "operationId": "postDogFatherImage",
                "parameters": [
                    {
                        "name": "image",
                        "in": "query",
                        "description": "Image of dog mother",
                        "required": true,
                        "type": "file"
                    },
                    {
                        "name": "father_id",
                        "in": "query",
                        "description": "Id of dog father",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Father dog belongs to other seller."
                    },
                    "401": {
                        "description": "Failed to authenticate because of bad credentials or an invalid authorization header.<br>-----------------------------------------------------------------------<br>Wrong number of segments.<br>-----------------------------------------------------------------------<br>Token Signature could not be verified.<br>-----------------------------------------------------------------------<br>Could not decode token. The token is an invalid JWS.<br>-----------------------------------------------------------------------<br>Token has expired<br>-----------------------------------------------------------------------<br>Only seller profiles can access this resource."
                    },
                    "422": {
                        "description": "Unprocessable entity."
                    }
                }
            }
        },
        "/dog/images": {
            "post": {
                "tags": [
                    "Dog"
                ],
                "description": "Post dog images",
                "operationId": "postDogImages",
                "parameters": [
                    {
                        "name": "dog_id",
                        "in": "query",
                        "description": "Id of dog whose pictures are uploading.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "images",
                        "in": "query",
                        "description": "Images of the dog.",
                        "required": true,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "422": {
                        "description": "Unprocessable entity."
                    },
                    "401": {
                        "description": "Failed to authenticate because of bad credentials or an invalid authorization header.<br>-----------------------------------------------------------------------<br>Wrong number of segments.<br>-----------------------------------------------------------------------<br>Token Signature could not be verified.<br>-----------------------------------------------------------------------<br>Could not decode token. The token is an invalid JWS.<br>-----------------------------------------------------------------------<br>Token has expired<br>-----------------------------------------------------------------------<br>Only seller profiles can access this resource."
                    }
                }
            }
        },
        "/dog/rescue": {
            "put": {
                "tags": [
                    "Dog"
                ],
                "description": "Edit whole rescue dog resource",
                "operationId": "putDogRescue",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Id of rescue dog.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "breed_id",
                        "in": "query",
                        "description": "Id of dog breed.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Name of rescue dog.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "birth_date",
                        "in": "query",
                        "description": "Date when dog was born.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "sex",
                        "in": "query",
                        "description": "M or f",
                        "required": true,
                        "type": "string",
                        "enum": "mf"
                    },
                    {
                        "name": "cost",
                        "in": "query",
                        "description": "Price of dog.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "about",
                        "in": "query",
                        "description": "Information about dog.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "vaccination",
                        "in": "query",
                        "description": "Is dog vaccinated.",
                        "required": true,
                        "type": "integer",
                        "enum": "10"
                    },
                    {
                        "name": "vet_checked",
                        "in": "query",
                        "description": "Is dog vet checked.",
                        "required": true,
                        "type": "integer",
                        "enum": "10"
                    },
                    {
                        "name": "desexed",
                        "in": "query",
                        "description": "Is dog desexed.",
                        "required": true,
                        "type": "integer",
                        "enum": "10"
                    },
                    {
                        "name": "de_warmed",
                        "in": "query",
                        "description": "Is dog de-warmed.",
                        "required": true,
                        "type": "integer",
                        "enum": "10"
                    },
                    {
                        "name": "micro_chipped",
                        "in": "query",
                        "description": "Is dog micro chipped.",
                        "required": true,
                        "type": "integer",
                        "enum": "10"
                    },
                    {
                        "name": "registration_papers",
                        "in": "query",
                        "description": "Does dog have registration papers.",
                        "required": true,
                        "type": "integer",
                        "enum": "10"
                    },
                    {
                        "name": "family_dog",
                        "in": "query",
                        "description": "Is rescue dog family dog",
                        "required": true,
                        "type": "integer",
                        "enum": "10"
                    },
                    {
                        "name": "indoor_dog",
                        "in": "query",
                        "description": "Is rescue dog indoor dog",
                        "required": true,
                        "type": "integer",
                        "enum": "10"
                    },
                    {
                        "name": "energetic",
                        "in": "query",
                        "description": "Is rescue dog energetic dog",
                        "required": true,
                        "type": "integer",
                        "enum": "10"
                    },
                    {
                        "name": "friendly",
                        "in": "query",
                        "description": "Is rescue dog friendly dog",
                        "required": true,
                        "type": "integer",
                        "enum": "10"
                    },
                    {
                        "name": "outdoor_dog",
                        "in": "query",
                        "description": "Is rescue dog outdoor dog",
                        "required": true,
                        "type": "integer",
                        "enum": "10"
                    },
                    {
                        "name": "relaxed",
                        "in": "query",
                        "description": "Is rescue dog relaxed dog",
                        "required": true,
                        "type": "integer",
                        "enum": "10"
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Dog belongs to other shelter."
                    },
                    "401": {
                        "description": "Failed to authenticate because of bad credentials or an invalid authorization header.<br>-----------------------------------------------------------------------<br>Wrong number of segments.<br>-----------------------------------------------------------------------<br>Token Signature could not be verified.<br>-----------------------------------------------------------------------<br>Could not decode token. The token is an invalid JWS.<br>-----------------------------------------------------------------------<br>Token has expired<br>-----------------------------------------------------------------------<br>Only shelter profiles can access this resource."
                    },
                    "422": {
                        "description": "Unprocessable entity."
                    }
                }
            },
            "post": {
                "tags": [
                    "Dog"
                ],
                "description": "Add new rescue dog to listing",
                "operationId": "postDogRescue",
                "parameters": [
                    {
                        "name": "breed_id",
                        "in": "query",
                        "description": "Id of dog breed.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Name of rescue dog.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "birth_date",
                        "in": "query",
                        "description": "Date when dog was born.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "sex",
                        "in": "query",
                        "description": "M or f",
                        "required": true,
                        "type": "string",
                        "enum": "mf"
                    },
                    {
                        "name": "cost",
                        "in": "query",
                        "description": "Price of dog.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "about",
                        "in": "query",
                        "description": "Information about dog.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "vaccination",
                        "in": "query",
                        "description": "Is dog vaccinated.",
                        "required": true,
                        "type": "integer",
                        "enum": "10"
                    },
                    {
                        "name": "vet_checked",
                        "in": "query",
                        "description": "Is dog vet checked.",
                        "required": true,
                        "type": "integer",
                        "enum": "10"
                    },
                    {
                        "name": "desexed",
                        "in": "query",
                        "description": "Is dog desexed.",
                        "required": true,
                        "type": "integer",
                        "enum": "10"
                    },
                    {
                        "name": "de_warmed",
                        "in": "query",
                        "description": "Is dog de-warmed.",
                        "required": true,
                        "type": "integer",
                        "enum": "10"
                    },
                    {
                        "name": "micro_chipped",
                        "in": "query",
                        "description": "Is dog micro chipped.",
                        "required": true,
                        "type": "integer",
                        "enum": "10"
                    },
                    {
                        "name": "registration_papers",
                        "in": "query",
                        "description": "Does dog have registration papers.",
                        "required": true,
                        "type": "integer",
                        "enum": "10"
                    },
                    {
                        "name": "family_dog",
                        "in": "query",
                        "description": "Is rescue dog family dog",
                        "required": true,
                        "type": "integer",
                        "enum": "10"
                    },
                    {
                        "name": "indoor_dog",
                        "in": "query",
                        "description": "Is rescue dog indoor dog",
                        "required": true,
                        "type": "integer",
                        "enum": "10"
                    },
                    {
                        "name": "energetic",
                        "in": "query",
                        "description": "Is rescue dog energetic dog",
                        "required": true,
                        "type": "integer",
                        "enum": "10"
                    },
                    {
                        "name": "friendly",
                        "in": "query",
                        "description": "Is rescue dog friendly dog",
                        "required": true,
                        "type": "integer",
                        "enum": "10"
                    },
                    {
                        "name": "outdoor_dog",
                        "in": "query",
                        "description": "Is rescue dog outdoor dog",
                        "required": true,
                        "type": "integer",
                        "enum": "10"
                    },
                    {
                        "name": "relaxed",
                        "in": "query",
                        "description": "Is rescue dog relaxed dog",
                        "required": true,
                        "type": "integer",
                        "enum": "10"
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Failed to authenticate because of bad credentials or an invalid authorization header.<br>-----------------------------------------------------------------------<br>Wrong number of segments.<br>-----------------------------------------------------------------------<br>Token Signature could not be verified.<br>-----------------------------------------------------------------------<br>Could not decode token. The token is an invalid JWS.<br>-----------------------------------------------------------------------<br>Token has expired<br>-----------------------------------------------------------------------<br>Only shelter profiles can access this resource."
                    },
                    "422": {
                        "description": "Unprocessable entity."
                    },
                    "403": {
                        "description": "You have exceeded your rate limit."
                    }
                }
            },
            "delete": {
                "tags": [
                    "Dog"
                ],
                "description": "Delete dog rescue.",
                "operationId": "deleteDogRescue",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Id of dog rescue that needs to be deleted.",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Dog belongs to other shelter."
                    },
                    "401": {
                        "description": "Failed to authenticate because of bad credentials or an invalid authorization header.<br>-----------------------------------------------------------------------<br>Wrong number of segments.<br>-----------------------------------------------------------------------<br>Token Signature could not be verified.<br>-----------------------------------------------------------------------<br>Could not decode token. The token is an invalid JWS.<br>-----------------------------------------------------------------------<br>Token has expired<br>-----------------------------------------------------------------------<br>Only shelter profiles can access this resource."
                    },
                    "422": {
                        "description": "Unprocessable entity."
                    }
                }
            },
            "patch": {
                "tags": [
                    "Dog"
                ],
                "description": "Edit partial rescue dog resource",
                "operationId": "patchDogRescue",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Id of rescue dog.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "breed_id",
                        "in": "query",
                        "description": "Id of dog breed.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Name of rescue dog.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "birth_date",
                        "in": "query",
                        "description": "Date when dog was born.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "sex",
                        "in": "query",
                        "description": "M or f",
                        "required": false,
                        "type": "string",
                        "enum": "mf"
                    },
                    {
                        "name": "cost",
[...]
