<header class="organisation-header" style="background:url('img/misc/home/shelter_header.png');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-8 col-sm-8">
                <div class="organisation-name page-section" style="padding-top:100px;">
                    <h1>The Lost Dogs Home</h1>
                </div>
                <div class="organisation-intro page-section no-top-p">
                    <h2>To work with the community to promote the welfare of dogs and cats by reducing the number of lost cats and dogs, alleviating their pain and suffering and enhancing the responsible pet ownership and enjoyment of pets.</h2>
                </div>
                <div class="header-social page-section">
                    <ul class="list-inline">
                        <li><a class="facebook"><i class="fa fa-facebook"></i>Visit our Facebook</a></li>
                        <li><a class="twitter"><i class="fa fa-twitter"></i>Visit our Twitter</a></li>
                        <li><a class="pinterest"><i class="fa fa-pinterest"></i>Visit our Pinterest</a></li>
                    </ul>
                </div>
                <div class="header-img page-section">
                    <ul class="list-inline">
                        <li><img src="/img/misc/home/puppy.png" /></li>
                        <li><img src="/img/misc/home/puppy.png" /></li>
                        <li><img src="/img/misc/home/puppy.png" /></li>
                        <li><img src="/img/misc/home/puppy.png" /></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4">
                <div class="header-contact-form">
                    <div class="contact-image">
                        <img src="img/misc/home/shelter_logo.png" />
                    </div>
                    <div class="contact-form">
                        <form>
                            <div class="form-section grey">
                                <div class="contact-info">
                                    <ul class="list-unstyled">
                                        <li><p>Get in contact</p></li>
                                        <li><a>Visit Website</a></li>
                                        <li><a>View Phone Number</a></li>
                                    </ul>
                                </div>
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label>Enquiry</label>
                                    <textarea class="form-control"></textarea>
                                </div>
                                <div class="form-group no-margin">
                                    <button class="btn btn-default">Send Enquiry</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<main class="organisation-profile-page">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-8 col-sm-8">
                <div class="page-section">
                    <div class="page-section-headline">
                        <h4>About the shelter</h4>
                    </div>
                    <div class="organisation-about">
                        <p>Membership is strong with approximately 50% show/breeder members and 50% pet owners.  If you are interested in becoming a member please find an application form on the club documents page.  Members receive free with their membership our bi-annual club magazine Le Bouledogue Francais,.</p>
                        <p>Membership is strong with approximately 50% show/breeder members and 50% pet owners.  If you are interested in becoming a member please find an application form on the club documents page.  Members receive free with their membership our bi-annual club magazine Le Bouledogue Francais,.</p>
                        <p>Membership is strong with approximately 50% show/breeder members and 50% pet owners.  If you are interested in becoming a member please find an application form on the club documents page.  Members receive free with their membership our bi-annual club magazine Le Bouledogue Francais,.</p>
                    </div>
                </div>
                <div class="page-section dash-border no-top-p">
                    <div class="page-headline">
                        <h1>Showing Most Recent</h1>
                    </div>
                    <div class="page-shelter-dogs">
                        <div class="page-dog">
                            <div class="media">
                                <div class="media-left">
                                    <img src="img/misc/home/puppy.png" class="dog-image">
                                </div>
                                <div class="media-body">
                                    <div class="media-heading">
                                        <h4 class="dog-name">Australian Cattle Dog <span class="pull-right"><span class="label label-danger">Rescue</span><span class="dog-price">$800.00</span></span></h4>

                                        <p class="dog-location">Kempsey, NSW</p>
                                    </div>
                                    <div class="dog-description">
                                        <p>Quality pure bred Red Cattle Dog puppies. Both parents have excellent temperaments,
                                            pups have been raised in wonderful conditions with daily cuddles from our....</p>
                                    </div>
                                    <div class="dog-details">
                                        <ul class="list-inline">
                                            <li><i class="fa fa-male"></i>2</li>
                                            <li><i class="fa fa-female"></i>3</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="page-dog">
                            <div class="media">
                                <div class="media-left">
                                    <img src="img/misc/home/puppy.png" class="dog-image">
                                </div>
                                <div class="media-body">
                                    <div class="media-heading">
                                        <h4 class="dog-name">Australian Cattle Dog <span class="pull-right"><span class="label label-danger">Rescue</span><span class="dog-price">$800.00</span></span></h4>

                                        <p class="dog-location">Kempsey, NSW</p>
                                    </div>
                                    <div class="dog-description">
                                        <p>Quality pure bred Red Cattle Dog puppies. Both parents have excellent temperaments,
                                            pups have been raised in wonderful conditions with daily cuddles from our....</p>
                                    </div>
                                    <div class="dog-details">
                                        <ul class="list-inline">
                                            <li><i class="fa fa-male"></i>2</li>
                                            <li><i class="fa fa-female"></i>3</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="page-dog">
                            <div class="media">
                                <div class="media-left">
                                    <img src="img/misc/home/puppy.png" class="dog-image">
                                </div>
                                <div class="media-body">
                                    <div class="media-heading">
                                        <h4 class="dog-name">Australian Cattle Dog <span class="pull-right"><span class="label label-danger">Rescue</span><span class="dog-price">$800.00</span></span></h4>

                                        <p class="dog-location">Kempsey, NSW</p>
                                    </div>
                                    <div class="dog-description">
                                        <p>Quality pure bred Red Cattle Dog puppies. Both parents have excellent temperaments,
                                            pups have been raised in wonderful conditions with daily cuddles from our....</p>
                                    </div>
                                    <div class="dog-details">
                                        <ul class="list-inline">
                                            <li><i class="fa fa-male"></i>2</li>
                                            <li><i class="fa fa-female"></i>3</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="page-dog">
                            <div class="media">
                                <div class="media-left">
                                    <img src="img/misc/home/puppy.png" class="dog-image">
                                </div>
                                <div class="media-body">
                                    <div class="media-heading">
                                        <h4 class="dog-name">Australian Cattle Dog <span class="pull-right"><span class="label label-danger">Rescue</span><span class="dog-price">$800.00</span></span></h4>

                                        <p class="dog-location">Kempsey, NSW</p>
                                    </div>
                                    <div class="dog-description">
                                        <p>Quality pure bred Red Cattle Dog puppies. Both parents have excellent temperaments,
                                            pups have been raised in wonderful conditions with daily cuddles from our....</p>
                                    </div>
                                    <div class="dog-details">
                                        <ul class="list-inline">
                                            <li><i class="fa fa-male"></i>2</li>
                                            <li><i class="fa fa-female"></i>3</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="page-dog">
                            <div class="media">
                                <div class="media-left">
                                    <img src="img/misc/home/puppy.png" class="dog-image">
                                </div>
                                <div class="media-body">
                                    <div class="media-heading">
                                        <h4 class="dog-name">Australian Cattle Dog <span class="pull-right"><span class="label label-danger">Rescue</span><span class="dog-price">$800.00</span></span></h4>

                                        <p class="dog-location">Kempsey, NSW</p>
                                    </div>
                                    <div class="dog-description">
                                        <p>Quality pure bred Red Cattle Dog puppies. Both parents have excellent temperaments,
                                            pups have been raised in wonderful conditions with daily cuddles from our....</p>
                                    </div>
                                    <div class="dog-details">
                                        <ul class="list-inline">
                                            <li><i class="fa fa-male"></i>2</li>
                                            <li><i class="fa fa-female"></i>3</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="page-section">
                            <button class="btn btn-default">View All Our Rescues</button><span class="pull-right rescue-note">We have <strong>15</strong> dogs needed rescuing</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4">
                <div class="page-section with-v-p">
                    <div class="page-section-headline">
                        <h4>Key Members</h4>
                    </div>
                    <div class="organisation-key-members">
                        <ul class="list-unstyled">
                            <li>
                                <label>President</label>
                                <p>Debra Bradly - <a>Contact</a></p>
                            </li>
                            <li>
                                <label>Vice President</label>
                                <p>Debra Bradly - <a>Contact</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="page-section solid-border with-v-p">
                    <div class="page-section-headline">
                        <h4>Dog Rescued</h4>
                    </div>
                    <div class="organisation-sold">
                        <p>5<span><i class="fa fa-male"></i>2</span><span><i class="fa fa-female"></i>3</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>